.flex{
    display: flex;
    background-color: yellow;
    flex-wrap:wrap;
    margin: auto;
    gap: 50px;
    width: 80vw;
    height: 95vh;
    overflow: hidden;
    justify-content: center;
}

.one, .two, .three, .four, .five, .six, .seven, .eight{
    width: 250px;
    height:200px ;
}

.one h1,
.two h1,
.three h1,
.four h1,
.five h1,
.six h1,
.seven h1,
.eight h1{
    width: 100%;
    height: 2%;
}
.grid1st, .grid2nd, .grid3rd, .grid4th, .grid5th, .grid6th, .grid7th, .grid8th{
    height: 97%;
    width: 100%;
}

/* 1st grid */
.grid1st {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "a1 a2 a3 a4"
        "a5 a6 a7 a8"
        "a9 a10 a11 a12"
        "a13 a14 a15 a16";
}

.child {
    background-color: grey;
}

.child:nth-child(1) {
    grid-area: a1;
}

.child:nth-child(2) {
    grid-area: a2;
}

.child:nth-child(3) {
    grid-area: a3;
}

.child:nth-child(4) {
    grid-area: a4;
}

.child:nth-child(5) {
    grid-area: a5;
}

.child:nth-child(6) {
    grid-area: a6;
}

.child:nth-child(7) {
    grid-area: a7;
}

.child:nth-child(8) {
    grid-area: a8;
}

.child:nth-child(9) {
    grid-area: a9;
}

.child:nth-child(10) {
    grid-area: a10;
}

.child:nth-child(11) {
    grid-area: a11;
}

.child:nth-child(12) {
    grid-area: a12;
}

.child:nth-child(13) {
    grid-area: a13;
}

.child:nth-child(14) {
    grid-area: a14;
}

.child:nth-child(15) {
    grid-area: a15;
}

.child:nth-child(16) {
    grid-area: a16;
}

/* 2nd Grid  */

.grid2nd {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "b1 b2 b3"
        "b4 b5 b6"
        "b7 b8 b9";
}

.iron {
    background-color: grey;
}

.iron:nth-child(1) {
    grid-area: b1;
}

.iron:nth-child(2) {
    grid-area: b2;
}

.iron:nth-child(3) {
    grid-area: b3;
}

.iron:nth-child(4) {
    grid-area: b4;
}

.iron:nth-child(5) {
    grid-area: b5;
}

.iron:nth-child(6) {
    grid-area: b6;
}

.iron:nth-child(7) {
    grid-area: b7;
}

.iron:nth-child(8) {
    grid-area: b8;
}

.iron:nth-child(9) {
    grid-area: b9;
}


/* 3rd grid  */
.grid3rd {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "c1 c1 c2"
        "c1 c1 c2"
        "c3 c4 c5"
        "c6 c7 c8";
}

.hulk {
    background-color: grey;
}


.hulk:nth-child(1) {
    grid-area: c1;
}

.hulk:nth-child(2) {
    grid-area: c2;
}

.hulk:nth-child(3) {
    grid-area: c3;
}

.hulk:nth-child(4) {
    grid-area: c4;
}

.hulk:nth-child(5) {
    grid-area: c5;
}

.hulk:nth-child(6) {
    grid-area: c6;
}

.hulk:nth-child(7) {
    grid-area: c7;
}

.hulk:nth-child(8) {
    grid-area: c8;
}

/* 4th Grid  */

.grid4th {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "d1 d2  d3"
        "d4 d2  d5"
        "d6 d7 d8"
        "d9 d10 d11 ";
}

.captin {
    background-color: grey;
}

.captin:nth-child(1) {
    grid-area: d1;
}

.captin:nth-child(2) {
    grid-area: d2;
}

.captin:nth-child(3) {
    grid-area: d3;
}

.captin:nth-child(4) {
    grid-area: d4;
}

.captin:nth-child(5) {
    grid-area: d5;
}

.captin:nth-child(6) {
    grid-area: d6;
}

.captin:nth-child(7) {
    grid-area: d7;
}

.captin:nth-child(8) {
    grid-area: d8;
}

.captin:nth-child(9) {
    grid-area: d9;
}

.captin:nth-child(10) {
    grid-area: d10;
}

.captin:nth-child(11) {
    grid-area: d11;
}


/* 5th Grid  */

.grid5th {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "f1 f1 f2 f2"
        "f3 f3 f4 f4"
        "f3 f3 f4 f4"
        "f5 f6 f7 f8";
}

.thor {
    background-color: grey;
}

.thor:nth-child(1) {
    grid-area: f1;
}

.thor:nth-child(2) {
    grid-area: f2;
}

.thor:nth-child(3) {
    grid-area: f3;
}

.thor:nth-child(4) {
    grid-area: f4;
}

.thor:nth-child(5) {
    grid-area: f5;
}

.thor:nth-child(6) {
    grid-area: f6;
}

.thor:nth-child(7) {
    grid-area: f7;
}

.thor:nth-child(8) {
    grid-area: f8;
}

/* 6th Grid  */

.grid6th {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "e1 e2 e2 e2"
        "e3 e4 e4 e4"
        "e5 e6 e6 e6"
        "e7 e8 e8 e8";
}

.spider {
    background-color: grey;
}

.spider:nth-child(1) {
    grid-area: e1;
}

.spider:nth-child(2) {
    grid-area: e2;
}

.spider:nth-child(3) {
    grid-area: e3;
}

.spider:nth-child(4) {
    grid-area: e4;
}

.spider:nth-child(5) {
    grid-area: e5;
}

.spider:nth-child(6) {
    grid-area: e6;
}

.spider:nth-child(7) {
    grid-area: e7;
}

.spider:nth-child(8) {
    grid-area: e8;
}

/* 7th Grid  */

.grid7th {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "g1 g2 g2 g2"
        "g1 g2 g2 g2"
        "g1 g3 g4 g5"
        "g1 g6 g7 g8";
}

.venom {
    background-color: grey;
}

.venom:nth-child(1) {
    grid-area: g1;
}

.venom:nth-child(2) {
    grid-area: g2;
}

.venom:nth-child(3) {
    grid-area: g3;
}

.venom:nth-child(4) {
    grid-area: g4;
}

.venom:nth-child(5) {
    grid-area: g5;
}

.venom:nth-child(6) {
    grid-area: g6;
}

.venom:nth-child(7) {
    grid-area: g7;
}

.venom:nth-child(8) {
    grid-area: g8;
}


/* 8th Grid  */

.grid8th {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-template-areas:
        "h1 h1 h2 h2"
        "h1 h1 h2 h2"
        "h1 h1 h2 h2"
        "h3 h3 h3 h3";
}

.ant {
    background-color: grey;
}

.ant:nth-child(1) {
    grid-area: h1;
}

.ant:nth-child(2) {
    grid-area: h2;
}

.ant:nth-child(3) {
    grid-area: h3;
}